<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a class="menu_item" *ngFor="let menuItem of menuItems" mat-list-item [routerLink]="menuItem.currentLink"
                routerLinkActive="highlight" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.close()">
                {{ menuItem.label | translate }} </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>